!!! 5
html(lang="en")
  head
    title='Plan B!'
    link(rel='stylesheet', href='/style.css')
    meta(name='viewport', content='width=device-width')
  body
    h1 $$$ PLAN B $$$
    h3= date
    table
      each game in games
        tr
          each number in game.numbers
            - var numberClass = (number.mainNumber ? 'main' : (number.supplementaryNumber ? 'supplementary' : ''))
            td(class=numberClass)=number.value
          td.division
            if game.division
              span Division #{game.division}!!!
